.w-page {
    padding: 10px;
    /* display: flex; */
    /* justify-content: center; */
}

.w-content {
    /* width: 500px; */
    width: 100%;
}

.w-title {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.w-subtitle {
    text-align: left;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'Roboto Slab', serif;
}

.w-entry-directions {
    width: 312;
}

.w-grid-form {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.w-results {
    width: 100%;
}

.w-reset-btn {
    width: 100%;
}

/* Screen size specs */

@media only screen and (max-width: 576px) {
}


@media only screen and (min-width: 576px) {
    .w-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .w-content {
    }

    .w-entry-directions {
        width: 500px;
    }

    .w-reset-btn {
        width: 150px;
    }
}


@media only screen and (min-width: 767px) {
}


@media only screen and (min-width: 992px) {
    .w-content {
        width: 500px;
    }
}


@media only screen and (min-width: 1200px) {
    .w-title {
        margin-bottom: 40px;
    }
    .w-content {
        display: flex;
        justify-content: center;
        width: 80%;
        gap: 50px;
    }

    .w-grid-form {
        transition: all 1s ease-in-out;
    }

    .w-down-below-text {
        display: none;
    }
}
